.currAdd {
  background-color: #edf0f2;
  width: 86%;
  padding: 35px 50px;

  &__mainBox {
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 1px 10px 0 #00000026;
  }
  &__title {
    font-size: 22px;
    font-weight: 600;
    color: #227ff4;
    margin: 0 0 25px 0;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 20px 0;
    label {
      width: 20%;
      font-weight: 600;
    }
  }

  &__box {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
  }

  &__box2 {
    p {
      font-weight: 600;
    }
    textarea {
      width: 100%;
    }
  }

  &__btn {
    button {
      margin: 5px 0px;
      font-size: 16px;
      padding: 8px 15px;
      border-radius: 10px;
      color: #fff;
      border: none;
      background: linear-gradient(118deg, #227ff4, #227ff4b2);
      cursor: pointer;
      &:hover {
        transition: all 0.2s ease-in-out;
        background-color: #1b7bf0b2;
      }
    }
  }

  @media (max-width: 1440px) {
    width: 84%;
  }

  @media (max-width: 1024px) {
    width: 100%;
  }

  @media (max-width: 820px) {
    padding: 30px;
    &__box {
      flex-direction: column;
      gap: 15px;
    }
    &__btn button {
      font-size: 14px;
    }
  }

  @media (max-width: 480px) {
    padding: 20px;
    &__title {
      font-size: 20px;
    }

    &__btn button {
      font-size: 12px;
    }

    &__item {
      margin: 14px 0;
      label {
        font-size: 12px;
      }
      input {
        font-size: 12px;
        width: 80%;
      }
      select {
        font-size: 12px;
      }
    }

    &__box2 {
      p {
        font-size: 12px;
      }
      textarea {
        height: 80px;
      }
    }
  }
}
