.users {
  background-color: #edf0f2;
  width: 86%;
  height: 102vh;
  padding: 100px 130px 0;
  margin-left: 14%;
  &__title {
    font-size: 22px;
    font-weight: 600;
    color: #d8ac62;
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    button {
      margin: 8px 10px 20px;
      font-size: 14px;
      padding: 6px 18px;
      border-radius: 5px;
      color: #fff;
      border: none;
      background: #d8ac62;
      cursor: pointer;
      &:hover {
        transition: all 0.2s ease-in-out;
        background-color: rgb(202, 148, 47);
      }
    }
  }

  &__table {
    background-color: #fff;
    padding: 25px;
    box-shadow: 0 1px 10px 0 #00000026;
    border-radius: 6px;

    th {
      border-top: 0px;
      &:nth-child(2) {
        text-align: center;
        width: 40%;
      }
      &:nth-child(3) {
        text-align: center;
      }

      @media (max-width: 1024px) {
        &:nth-child(2) {
          width: 36%;
        }
      }
    }

    td {
      &:nth-child(2) {
        text-align: center;
      }
    }
  }

  &__box {
    width: 25%;
    &--img {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;

      img {
        width: 20px;
        height: auto;
        display: block;
        cursor: pointer;
      }
    }
  }

  &__img {
    width: 50%;
    img {
      width: 100%;
      height: auto;
    }
  }

  @media (max-width: 1440px) {
    width: 84%;
    padding: 90px 80px 0;
    margin-left: 16%;
  }

  @media (max-width: 1024px) {
    width: 100%;
    padding: 90px 40px 0;
    margin-left: 0;

    &__title {
      font-size: 20px;
    }

    &__btn button {
      font-size: 14px;
      margin: 20px 0;
      padding: 6px 16px;
    }
  }

  @media (max-width: 480px) {
    padding: 90px 25px 0;
  }
}

// .table {
//   th {
//     border-top: 0px;
//     &:nth-child(2) {
//       text-align: center;
//       width: 40%;
//     }
//     &:nth-child(3) {
//       text-align: center;
//     }

//     @media (max-width: 1024px) {
//       &:nth-child(2) {
//         width: 36%;
//       }
//     }
//   }

//   td {
//     &:nth-child(2) {
//       text-align: center;
//     }
//   }
// }
