.currEdit {
  background-color: #edf0f2;
  width: 100%;
  padding: 35px 50px;

  &__mainBox {
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 1px 10px 0 #00000026;
  }

  &__name {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;

    p {
      font-size: 25px;
      font-weight: 600;
      margin-bottom: 8px;
      color: #227ff4;
      margin: 0;
    }
  }

  &__icon {
    img {
      width: 20px;
      height: auto;
      display: block;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 20px 0;
  }

  &__box {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
  }

  &__list {
    margin-top: 20px;
    &--item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1px solid #ccc;
      padding: 8px 20px;
      margin: 10px 0;
      border-radius: 9px;
      box-shadow: 0 1px 5px 0 #00000026;

      p {
        margin: 0 8px;
      }
    }

    &--action {
      display: flex;
      img {
        width: 40px;
        height: auto;
        padding: 0 10px;
        display: block;
      }
    }
  }

  &__addItem {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: 1px solid #ccc;
    padding: 8px 0;
    cursor: pointer;
    border-radius: 9px;
    box-shadow: 0 1px 5px 0 #00000026;

    img {
      width: 15px;
      height: auto;
      display: block;
    }

    &:hover {
      background-color: #e0f3ff;
      color: #227ff4;
      transition: all 0.2s ease-in-out;
    }
  }
}
