.currList {
  background-color: #edf0f2;
  width: 86%;
  padding: 30px 130px;
  margin-left: 14%;
  padding-top: 100px;

  @media (max-width: 1440px) {
    width: 84%;
    padding: 90px 80px 0;
    margin-left: 16%;
  }

  @media (max-width: 1024px) {
    width: 100%;
    margin-left: 0;
  }

  @media (max-width: 820px) {
    padding: 90px 40px 0;
  }

  @media (max-width: 480px) {
    padding: 86px 28px 0;
  }
}
.statis {
  &__title {
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 5px;
  }
  &__table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    td {
      border: 1px solid #ccc;
      padding: 5px;
    }
  }
  &__row {
    margin-top: 30px;
  }
}
