.currSee {
  background-color: #edf0f2;
  width: 86%;
  height: 102vh;
  padding: 100px 130px 0;
  margin-left: 14%;

  &__mainBox {
    background-color: #fff;
    padding: 25px;
    box-shadow: 0 1px 10px 0 #00000026;
    border-radius: 6px;
  }

  &__name {
    display: flex;
    align-items: center;
    gap: 10px;

    p {
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 8px;
      color: #d8ac62;
      margin: 0;
    }
  }

  &__icon {
    button {
      display: block;
      margin: 20px auto 5px;
      width: 8%;
      font-size: 16px;
      padding: 5px 10px;
      border-radius: 5px;
      color: #fff;
      border: none;
      background: #d8ac62;
      cursor: pointer;
      &:hover {
        transition: all 0.2s ease-in-out;
        background-color: rgb(202, 148, 47);
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 20px 0;
    input[type='text'] {
      width: 100%;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 5px 10px;
    }
    select {
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 3px;
    }
    label {
      width: 10%;
      font-weight: 600;
    }
    .imgCourseFile {
      width: 10%;
    }
    textarea {
      width: 100%;
      height: 100px;
      border: 1px solid #ccc;
      border-radius: 5px;
      padding: 5px 10px;
    }
  }

  &__img {
    display: flex;
    align-items: center;
  }

  &__right {
    width: 90%;
    text-align: left;
  }

  &__list {
    margin-top: 20px;
    &--item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      // border: 1px solid #ccc;
      padding: 8px 5px;
      margin: 10px 0;
      border-radius: 6px;
      // box-shadow: 0 1px 5px 0 #00000026;
      background-color: #f4f4f4;

      p {
        margin: 0 8px;
      }
    }

    &--action {
      display: flex;
      img {
        width: 40px;
        height: auto;
        padding: 0 10px;
        display: block;
      }
      button {
        border: 0px;
        width: 40%;
        cursor: pointer;
      }
    }
  }

  &__addItem {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 8px 0;
    cursor: pointer;
    border-radius: 6px;
    box-shadow: 0 1px 5px 0 #00000026;

    img {
      width: 15px;
      height: auto;
      display: block;
    }

    &:hover {
      background-color: #f4f4f4;
      color: #d8ac62;
      transition: all 0.2s ease-in-out;
    }
  }

  @media (max-width: 1440px) {
    width: 84%;
    padding: 90px 100px 0;
    margin-left: 16%;
    &__item {
      label {
        width: 14%;
      }
    }
  }

  @media (max-width: 1280px) {
    padding: 90px 88px 0;
  }

  @media (max-width: 1024px) {
    width: 100%;
    padding: 88px 90px 0;
    margin-left: 0;
    min-height: 111vh;

    &__item {
      label {
        width: 14%;
      }
      .imgCourseFile {
        width: 13%;
      }
    }
  }

  @media (max-width: 820px) {
    padding: 90px 40px 0;
    &__item {
      label {
        width: 16%;
      }
    }
    &__icon button {
      width: 10%;
      font-size: 14px;
    }
    &__list--item {
      padding: 8px;
      font-size: 14px;
    }
  }

  @media (max-width: 480px) {
    padding: 86px 28px 0;
    min-height: 115vh;
    &__mainBox {
      padding: 22px;
    }
    &__name p {
      font-size: 20px;
    }
    &__icon {
      button {
        font-size: 12px;
        width: 15%;
      }
    }
    &__list {
      &--item {
        p {
          margin-left: 5px;
        }
      }
      &--action {
        justify-content: flex-end;
      }
    }
    &__item {
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;
      .imgCourseFile {
        width: 18%;
      }
      label {
        font-size: 13px;
        width: 50%;
      }
      input {
        font-size: 12px;
        width: 80%;
      }
      select {
        font-size: 12px;
      }
      textarea {
        height: 80px;
      }
    }
  }
}
