.regist {
  background: linear-gradient(118deg, #227ff4, rgba(34, 127, 244, 0.698));
  display: flex;
  align-items: center;
  height: 100vh;

  &__box {
    display: flex;
    overflow: hidden;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 50px 0;
  }
  &__pic {
    width: 60%;
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
  &__detail {
    width: 40%;
  }
  &__form {
    width: 80%;
    margin: 0 auto;
  }
  &__title {
    margin-bottom: 20px;
    span {
      font-size: 26px;
      text-align: left;
      border-bottom: 3px solid #2386c7;
      font-weight: 600;
      color: #2386c7;
    }
  }
  &__input {
    input {
      width: 100%;
      padding: 10px;
      margin: 0 0 10px;
      border-radius: 25px;
      border: 1px solid #2386c7;
      color: #6f8cbe;
    }
  }
  &__checkbox {
    label {
      color: #777;
    }
  }
  &__button {
    button {
      width: 100%;
      background: #2386c7;
      padding: 10px;
      border: none;
      margin: 10px 0 0;
      border-radius: 25px;
      color: #fff;
      font-weight: 600;
      font-size: 18px;
      cursor: pointer;
    }
  }
  &__select {
    select {
      width: 100%;
      padding: 10px;
      margin: 0 0 10px;
      border-radius: 25px;
      border: 1px solid #2386c7;
      color: #2386c7;
    }
  }

  @media (max-width: 768px) {
    &__pic {
      width: 50%;
    }
    &__detail {
      width: 50%;
    }
    &__title span {
      font-size: 20px;
    }
    &__input input {
      padding: 4px 12px;
    }
    &__select select {
      padding: 6px;
    }
    &__button button {
      padding: 6px;
      font-size: 15px;
    }
  }

  @media (max-width: 480px) {
    &__box {
      flex-direction: column;
      gap: 15px;
    }
    &__pic {
      width: 80%;
    }
    &__detail {
      width: 100%;
    }
    &__title {
      text-align: center;
    }
  }
}
