.currList {
  &__btn {
    button {
      margin: 20px 10px;
      font-size: 16px;
      padding: 8px 20px;
      border-radius: 5px;
      color: #fff;
      border: none;
      background: linear-gradient(118deg, #227ff4, #227ff4b2);
      cursor: pointer;
      &:hover {
        transition: all 0.2s ease-in-out;
        background-color: #1b7bf0b2;
      }
    }
  }

  &__box {
    width: 25%;
    &--img {
      width: 8%;
      display: flex;
      align-items: center;
      gap: 30px;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  &__img {
    width: 42%;
    img {
      width: 100%;
      height: auto;
    }
  }
}
