.headerUser {
  border-bottom: 1px solid #efefef;
  box-shadow: 0 1px 10px 0 #00000026;
  &__box {
    display: grid;
    grid-template-columns: 85% 0% 15%;
    align-items: center;
  }

  &__btncheck {
    display: none;
  }

  &__logo {
    width: 12%;
    img {
      width: 100%;
      height: auto;
    }
  }

  &__noti {
    img {
      display: block;
      margin: 0 auto;
    }
  }

  &__boxUser {
    display: flex;
    justify-content: center;
    gap: 10px;
    position: relative;

    &:hover .headerUser__dropdown {
      display: block;
    }
  }

  &__user {
    margin-top: -2px;
    p {
      margin-bottom: 2px;
      font-size: 12px;

      &:nth-child(1) {
        font-weight: 600;
      }
    }
  }

  &__dropdown {
    transition: all 0.2s linear;
    display: none;
    position: absolute;
    top: 100%;
    width: 190px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    padding: 0px 10px;
    text-align: left;
    z-index: 9;

    ul {
      padding: 0;
      margin: 10px 0px;
    }
  }

  &__itemMenu {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style: none;
    padding: 5px 10px;
    background: #fff;
    border-radius: 5px;
    margin: 6px 0;
    cursor: pointer;
    transition: all 0.2s linear;
    font-size: 14px;
    border-bottom: 1px solid #eee;
    &:nth-child(4) {
      border-bottom: 0px;
    }
    img {
      width: 14%;
      height: auto;
    }

    &:hover {
      background: #e0f3ff;
      box-shadow: 0 0 2px #00000033;
      color: #227ff4;
      a {
        color: #227ff4;
      }
    }
  }

  @media (max-width: 1440px) {
    &__box {
      grid-template-columns: 83% 2% 15%;
    }
  }

  @media (max-width: 1280px) {
    &__dropdown {
      width: 166px;
    }
    &__itemMenu {
      font-size: 12px;
    }
  }

  @media (max-width: 1024px) {
    &__box {
      grid-template-columns: 75% 5% 20%;
    }

    &__btn {
      margin-left: 135px;
    }

    &__btncheck {
      display: block;
      width: 50px;
      height: 50px;
      padding: 14px 20px;

      span {
        display: block;
        width: 25px;
        height: 10px;
        border-top: 3px solid #227ff4;
      }
    }

    &__logo {
      display: none;
    }

    &__noti {
      img {
        width: 50%;
        height: 4%;
      }
    }

    &__boxUser {
      align-items: center;
      .iconUser {
        width: 11%;
        height: 4%;
      }
    }
  }

  @media (max-width: 820px) {
    &__box {
      grid-template-columns: 70% 5% 25%;
      padding: 8px 0;
    }

    &__noti {
      img {
        width: 65%;
      }
    }
  }

  @media (max-width: 480px) {
    &__box {
      grid-template-columns: 55% 5% 40%;
    }

    &__btncheck {
      padding: 16px 20px;
      span {
        height: 8px;
      }
    }

    &__noti {
      img {
        width: 100%;
      }
    }
  }

  @media (max-width: 425px) {
    &__dropdown {
      width: 156px;
      right: 10px;
    }
    &__itemMenu {
      font-size: 11px;
    }
  }
}
