.login {
  background: #f4f4f4;
  display: flex;
  align-items: center;
  height: 100vh;

  &__boxMain {
    width: 100%;
  }

  &__box {
    display: flex;
    overflow: hidden;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
    background: #fff;
    padding: 45px 0;
    gap: 30px;
    max-width: 350px;
    margin: 0 auto;
  }
  &__pic {
    width: 45%;
    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }
  &__detail {
    width: 90%;
  }
  &__form {
    width: 90%;
    margin: 0 auto;
  }
  &__title {
    margin-bottom: 20px;
    span {
      font-size: 26px;
      text-align: left;
      border-bottom: 3px solid #deb97b;
      font-weight: 600;
      color: #deb97b;
    }
  }
  &__input {
    input {
      width: 100%;
      padding: 10px 15px;
      margin: 0 0 10px;
      border-radius: 25px;
      color: #a2a2a2;
      background-color: #f4f4f4;
      border: 1px solid transparent;
    }
  }
  &__checkbox {
    label {
      color: #777;
    }
  }
  &__button {
    button {
      width: 100%;
      background: #deb97b;
      padding: 10px;
      border: none;
      border-radius: 25px;
      color: #fff;
      font-weight: 600;
      font-size: 16px;
      cursor: pointer;
    }
  }
  &__regist {
    text-align: center;
    color: #deb97b;
    font-weight: 500;
    font-style: italic;
    margin-top: 15px;
    text-decoration: underline;
  }

  @media (max-width: 1024px) {
    &__pic {
      width: 40%;
    }
  }

  @media (max-width: 768px) {
    &__pic {
      width: 46%;
    }
  }
}

.err {
  border-color: #ff6f6f !important;
}
