.students {
  background-color: #edf0f2;
  width: 86%;
  padding: 35px 50px;

  &__mainBox {
    background-color: #fff;
    padding: 10px 25px 30px;
    box-shadow: 0 1px 10px 0 #00000026;
  }

  &__title {
    font-size: 22px;
    font-weight: 600;
    color: #227ff4;
  }

  &__box {
    &--img {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;

      img {
        width: 20px;
        height: auto;
        display: block;
        cursor: pointer;
      }
    }
  }

  &__img {
    width: 42%;
    img {
      width: 100%;
      height: auto;
    }
  }

  @media (max-width: 1440px) {
    width: 84%;
  }

  @media (max-width: 1024px) {
    width: 100%;
  }

  @media (max-width: 820px) {
    padding: 30px;
  }

  @media (max-width: 480px) {
    padding: 20px;
    &__title {
      font-size: 20px;
    }
  }
}
